$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

div{
  .dropload {
    background-image: url(../images/application-x-java.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 10px dashed #ccc;
    width: 150px;
    height: 150px;
    margin: 20px auto;

    img {

    }
  }
  .hover {
      border: 10px dashed #333333;
   }
}

