<div class="hero-unit">
    <h1>Drop Classfile here:</h1>
    <dropload></dropload>
    <p><span class="label label-info">Status:</span>&nbsp;<small>{{status}}</small></p>
</div>

<div class="hero-unit">
    <a class="btn btn-primary btn-large" data-ng-click="draw(document.getElementById('canvas'))">Draw</a>
    <div id="canvas"></div>
</div>

<div class="accordion" id="classfile">
<!-- =============================================================================================================== -->
<!-- Common -->
<!-- =============================================================================================================== -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#classfile" href="#commonHeader">
            Common classfile information
        </a>
    </div>
    <div id="commonHeader" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Magic</td>
                    <td>{{classfile.getMagic()}}</td>
                </tr>
                <tr>
                    <td>Major</td>
                    <td>{{classfile.getMajor()}}</td>
                </tr>
                <tr>
                    <td>Minor</td>
                    <td>{{classfile.getMinor()}}</td>
                </tr>
                <tr>
                    <td>Constant Pool Count</td>
                    <td>{{classfile.getConstantPoolCount()}}</td>
                </tr>
                <tr>
                    <td>Access Flags</td>
                    <td>{{classfile.getAccessFlags()}}</td>
                </tr>
                <tr>
                    <td>This Class</td>
                    <td>{{classfile.getThisClass()}}</td>
                </tr>
                <tr>
                    <td>Super Class</td>
                    <td>{{classfile.getSuperClass()}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- =============================================================================================================== -->
<!-- ConstantPool -->
<!-- =============================================================================================================== -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#classfile" href="#constantPool">
            Constant Pool ({{ classfile.getConstantPoolCount() }})
        </a>
    </div>
    <div id="constantPool" class="accordion-body collapse">
        <div class="accordion-inner">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Idx</th>
                    <th>Tag</th>
                    <th>Value(s)</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="cpinfo in classfile.getConstantPool()">
                    <td name="CPREF{{$index+1}}">{{$index+1}}</td>
                    <td>{{ cpinfo.tag }}</td>
                    <td data-ng-switch="cpinfo.tag">
                        <div data-ng-switch-when="1">
                            UTF-8
                            <ul>
                                <li><b>Length:</b>{{ cpinfo.info.length }}</li>
                                <li><b>Text:</b>{{ cpinfo.info.bytes }}</li>

                            </ul>
                        </div>
                        <div data-ng-switch-when="7">
                            CLASS
                            <ul>
                                <li><b>NameIndex:</b><a href="#CPREF{{   cpinfo.info.nameIndex  }}">{{
                                    classfile.lookupNameIndex( cpinfo.info.nameIndex ) }}</a>
                                </li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="8">
                            CLASS
                            <ul>
                                <li><b>StringIndex:</b><a href="#CPREF{{ cpinfo.info.stringIndex }}">{{
                                    cpinfo.info.stringIndex
                                    }}</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="9">
                            FIELDREF_INFO
                            <ul>
                                <li><b>ClassIndex:</b><a href="#CPREF{{ cpinfo.info.classIndex }}">{{
                                    cpinfo.info.classIndex }}</a>
                                </li>
                                <li><b>NameAndTypeIndex:</b><a href="#CPREF{{ cpinfo.info.nameAndTypeIndex }}">{{
                                    cpinfo.info.nameAndTypeIndex }}</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="10">
                            METHODREF_INFO
                            <ul>
                                <li><b>ClassIndex:</b><a href="#CPREF{{ cpinfo.info.classIndex }}">{{
                                    cpinfo.info.classIndex }}</a>
                                </li>
                                <li><b>NameAndTypeIndex:</b><a href="#CPREF{{ cpinfo.info.nameAndTypeIndex }}">{{
                                    cpinfo.info.nameAndTypeIndex }}</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="11">
                            INTERFACEMETHODREF_INFO
                            <ul>
                                <li><b>ClassIndex:</b><a href="#CPREF{{ cpinfo.info.classIndex }}">{{
                                    cpinfo.info.classIndex }}</a>
                                </li>
                                <li><b>NameAndTypeIndex:</b><a href="#CPREF{{ cpinfo.info.nameAndTypeIndex }}">{{
                                    cpinfo.info.nameAndTypeIndex }}</a></li>
                            </ul>
                        </div>
                        <div data-ng-switch-when="12">
                            NAMEANDTYPE_INFO
                            <ul>
                                <li><b>NameIndex:</b><a href="#CPREF{{ cpinfo.info.nameIndex }}">{{
                                    cpinfo.info.nameIndex }}</a>
                                </li>
                                <li><b>DescriptorIndex:</b><a href="#CPREF{{ cpinfo.info.descriptorIndex }}">{{
                                    cpinfo.info.descriptorIndex }}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- =============================================================================================================== -->
<!-- Fields -->
<!-- =============================================================================================================== -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#classfile" href="#fields">
            Fields ({{ classfile.getFieldsCount() }})
        </a>
    </div>
    <div id="fields" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Idx</th>
                    <th>Access Flags</th>
                    <th>Name Index</th>
                    <th>Descriptor Index</th>
                </tr>
                </thead>
                <tbody data-ng-repeat="field in classfile.getFields()">
                <tr>
                    <td rowspan="2" name="METHODREF{{$index+1}}">{{$index+1}}</td>
                    <td>{{ field.accessFlags }}</td>
                    <td><a href="#CPREF{{  field.nameIndex  }}">{{ classfile.lookupNameIndex(field.nameIndex) }}</a>
                    </td>
                    <td><a href="#CPREF{{  field.descriptorIndex  }}">{{
                        classfile.lookupNameIndex(field.descriptorIndex) }}</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Attributes({{ field.attributesCount }})</strong><br/>
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Idx</th>
                                <th>Name Index</th>
                                <th>Length</th>
                                <th>Info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="attr in field.attributes">
                                <td>{{$index+1}}</td>
                                <td><a href="#CPREF{{   attr.attributeNameIndex   }}">{{ classfile.lookupNameIndex(
                                    attr.attributeNameIndex ) }}</a></td>
                                <td>{{ attr.attributeLength }}</td>
                                <td>{{ attr.info }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- =============================================================================================================== -->
<!-- Methods -->
<!-- =============================================================================================================== -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#classfile" href="#methods">
            Methods ({{ classfile.getMethodsCount() }})
        </a>
    </div>
    <div id="methods" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Idx</th>
                    <th>Access Flags</th>
                    <th>Name Index</th>
                    <th>Descriptor Index</th>
                </tr>
                </thead>
                <tbody data-ng-repeat="method in classfile.getMethods()">
                <tr>
                    <td rowspan="2" name="METHODREF{{$index+1}}">{{$index+1}}</td>
                    <td>{{ method.accessFlags }}</td>
                    <td><a href="#CPREF{{  method.nameIndex  }}">{{ classfile.lookupNameIndex(method.nameIndex) }}</a>
                    </td>
                    <td><a href="#CPREF{{  method.descriptorIndex  }}">{{
                        classfile.lookupNameIndex(method.descriptorIndex) }}</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Attributes({{ method.attributesCount }})</strong><br/>
                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Idx</th>
                                <th>Name Index</th>
                                <th>Length</th>
                                <th>Info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="attr in method.attributes">
                                <td>{{$index+1}}</td>
                                <td><a href="#CPREF{{   attr.attributeNameIndex   }}">{{
                                    classfile.lookupNameIndex(attr.attributeNameIndex ) }}</a></td>
                                <td>{{ attr.attributeLength }}</td>
                                <td>{{ attr.info }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- =============================================================================================================== -->
<!-- Attributes -->
<!-- =============================================================================================================== -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#classfile" href="#attributes">
            Attributes ({{ classfile.getAttributesCount() }})
        </a>
    </div>
    <div id="attributes" class="accordion-body collapse in">
        <div class="accordion-inner">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Idx</th>
                    <th>Name Index</th>
                    <th>Length</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="attr in classfile.getAttributes()">
                    <td>{{$index+1}}</td>
                    <td><a href="#CPREF{{   attr.attributeNameIndex   }}">{{ classfile.lookupNameIndex(
                        attr.attributeNameIndex ) }}</a></td>
                    <td>{{ attr.attributeLength }}</td>
                    <td>{{ attr.info }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>